.column {
  &-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
    padding: 0px 10px;
    margin: 10px 0px;
    @media (max-width: 1130px) {
      max-width: 900px;
    }
  }
}

.column-toys {
  display: flex;
  flex: 1 1 auto;

  @media (max-width: (480px)) {
    flex-direction: column;
  }
}
.column-card {
  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    @media (max-width: 1300px) {
      overflow-y: scroll;
      max-height: 432px;
    }
    @media (max-width: 1130px) {
      overflow-y: inherit;
      max-height: max-content;
    }
    &-favorite {
      position: relative;
      display: flex;
      justify-content: center;
      font-size: 20px;
      flex-direction: column;
      width: 60px;
      height: 60px;
      background: url("../../../../../../assets/img/svg/ball-2.svg") no-repeat;
      z-index: 5;
      background-position: center center;
      background-size: 40px;
      &::before {
        content: "";
        position: absolute;
        top: 19px;
        left: 12px;
        width: 36px;
        height: 36px;
        background: #9d8665;
        border-radius: 50%;
        z-index: -1;
      }
    }
    &-wrap {
      flex: 1 1 auto;
      padding: 10px 0px;
      // @media (max-width: 680px) {
      //   padding: 15px;
      // }
      // @media (max-width: 480px) {
      //   padding: 10px 5px;
      // }
    }
    &-title {
      display: flex;
      align-items: center;
      font-family: Neucha;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0em;
      text-transform: uppercase;
      &-container {
        display: flex;
        justify-content: center;
        padding: 0px 0px 10px 0px;
      }
    }
    &-subtitle {
      font-size: 25px;
      font-family: Steppe;
      text-shadow: 2px 2px 2px #000;
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: grab;
    background: #b3f6ff80;
    width: 80px;
    height: 80px;
    transition: background-color 0.25s;
    &:hover {
      background: rgba(157, 134, 101, 0.7);
    }
    &:active {
      cursor: grabbing;
    }
    &.active {
      background: rgba(157, 134, 101, 1);
    }
    // @media (max-width: 480px) {
    //   padding: 6px 5px;
    //   width: 100%;
    //   max-width: 222px;
    //   height: 100%;
    //   max-height: max-content;
    // }
  }
  &__image {
    width: 48px;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    z-index: 0;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &-container {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__count {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 19px;
    width: 22px;
    border-radius: 10px;
    padding: 2px 4px;
    background: rgba(36, 197, 219, 1);
  }
}

.trees-saved {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 350px;
    overflow-x: scroll;
    margin-left: 10px;
    @media (max-width: 1300px) {
      max-width: 250px;
    }
    @media (max-width: 1130px) {
      max-width: 900px;
    }
  }

  &-container {
    display: flex;
    gap: 10px;
    max-height: 180px;
    min-width: max-content;
    overflow-x: auto;
    padding-bottom: 5px;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: rgba(157, 134, 101, 0.7);
    }
    &.active {
      background: rgba(157, 134, 101, 1);
    }
    &-wrap {
      // background: #b3f6ff80;
      // border-radius: 10px;
      // cursor: pointer;
      // transition: background 0.3s;
    }
    &-container {
      // padding: 7px 21px;
    }
  }
}
