.column {
  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      background-color: rgb(228 228 228 / 15%);
      box-shadow: 0px 10px 13px 5px rgb(0 0 0 / 15%);
    }
    &__image {
    }
  }
}
.garland {
  &-tree {
    &-container {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 800px;
      position: absolute;
      top: 20px;
      pointer-events: none;
      z-index: 5;
      overflow: hidden;
    }
  }
  &-line {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    pointer-events: none;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    margin: 50px auto 0;

    li {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: -5px;
      animation-name: red-a;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      &:nth-child(2n + 1) {
        animation-duration: 1.8s;
      }
      &:nth-child(4n + 2) {
        animation-duration: 1.1s;
      }
      &:nth-child(3n + 1) {
        animation-duration: 1.4s;
      }
      &.red {
        animation-name: red-a;
      }
      &.green {
        animation-name: green-a;
      }
      &.blue {
        animation-name: blue-a;
      }
      &.yellow {
        animation-name: yellow-a;
      }
      &.multicolor:nth-child(1n + 1) {
        animation-name: red-a;
      }
      &:nth-child(2n + 2).multicolor {
        animation-name: green-a;
      }
      &:nth-child(3n + 3).multicolor {
        animation-name: blue-a;
      }
      &:nth-child(4n + 4).multicolor {
        animation-name: yellow-a;
      }
    }
  }
}
.image {
  &-map {
    &-container {
      position: relative;
    }
  }
}
@keyframes green-a {
  0% {
    background: rgb(7, 238, 7);
    box-shadow: 0px 2px 12px 2px rgb(7, 238, 7);
  }

  50% {
    background: rgb(7, 238, 7);
    box-shadow: 0px 2px 12px 2px rgb(7, 238, 7);
  }
  100% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 247, 165, 0.2);
  }
}
@keyframes blue-a {
  0% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 1);
  }

  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 0.2);
  }
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 1);
  }
}
@keyframes red-a {
  0% {
    background: rgb(247, 0, 0);
    box-shadow: 0px 2px 12px 2px rgb(247, 0, 0);
  }

  50% {
    background: rgba(247, 0, 118, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(247, 0, 118, 0.2);
  }
  100% {
    background: rgb(247, 0, 0);
    box-shadow: 0px 2px 12px 2px rgb(247, 0, 0);
  }
}
@keyframes yellow-a {
  0% {
    background: rgba(255, 255, 0, 1);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 1);
  }
  100% {
    background: rgba(255, 255, 0, 1);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 1);
  }
  50% {
    background: rgba(255, 255, 0, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 0.2);
  }
}
