.home {
  &-wrap {
    padding: 20px;
    flex: 1 1 100%;
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-ball {
    &-one {
      position: absolute;
      width: 500px;
      height: 500px;
      left: calc(50% - 550px);
      top: 150px;
      z-index: 1;
      background: url("../../../../assets/img/ball/1.png");
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 730px) {
        top: 250px;
        width: 300px;
        height: 300px;
        left: calc(50% - 350px);
      }
      @media (max-width: 480px) {
        left: calc(50% - 270px);
      }
      &::before {
        content: "";
        top: -210px;
        left: calc(50% - 47px);
        width: 4px;
        height: 220px;
        width: 5px;
        position: absolute;
        background-color: #9d8665;
        @media (max-width: 730px) {
          height: 280px;
          top: -274px;
          left: calc(50% - 30px);
        }
      }
    }
    &-two {
      position: absolute;
      width: 300px;
      height: 300px;
      left: calc(50% + 150px);
      top: 150px;
      z-index: 1;
      background: url("../../../../assets/img/ball/2.png");
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 730px) {
        width: 200px;
        height: 200px;
        top: 100px;
        left: calc(50% + 150px);
      }
      @media (max-width: 480px) {
        left: calc(50% + 70px);
      }
      &::before {
        content: "";
        top: -205px;
        left: calc(50% - 32px);
        width: 4px;
        height: 210px;
        width: 5px;
        position: absolute;
        background-color: #9d8665;
        @media (max-width: 730px) {
          height: 280px;
          top: -276px;
          left: calc(50% - 22px);
        }
      }
    }
  }
  &-title {
    font-size: 53px;
    line-height: 58px;
    letter-spacing: 0em;
    text-transform: uppercase;
    @media (max-width: 560px) {
      font-size: 40px;
    }
    @media (max-width: 400px) {
      font-size: 30px;
      line-height: 45px;
    }
    &-container {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 249px;
      width: 100%;
      max-width: 593px;
      border-radius: 30px;
      backdrop-filter: blur(5px);
      border: 2px solid #9d8665;
      margin: 0px 0px 113px 0px;
      border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%),
        radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
      background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 198, 219, 0.342) 0%, rgba(18, 43, 46, 0) 100%);
      @media (max-width: 560px) {
        margin: 0px 0px 60px 0px;
        height: 200px;
      }
      @media (max-width: 400px) {
        margin: 0px 0px 50px 0px;
        height: 160px;
      }
    }
  }
  &-button {
    position: relative;
    z-index: 2;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    outline: 1px solid;
    outline-color: currentcolor;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: outline 1250ms cubic-bezier(0.19, 1, 0.19, 1), outline-color 1250ms cubic-bezier(0.19, 1, 0.19, 1),
      outline-offset 1250ms cubic-bezier(0.19, 1, 0.19, 1), background-color 0.2s;
    font-size: 24px;
    line-height: 29px;
    border: 1px solid #9d8665;
    &:hover {
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 20px;
    }
    &:active {
      background-color: #9d8665;
    }
    @media (max-width: 560px) {
      width: 280px;
    }
    @media (max-width: 400px) {
      width: 220px;
    }
  }
}
