.top__btn {
  &-container {
    position: fixed;
    background: #9d8665;
    border-radius: 50%;
    bottom: 12%;
    right: -200px;
    z-index: 5;
    transition: right 0.4s;
  }
  &-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    animation: expansion-attenuation ease-in-out 2.5s infinite;
    pointer-events: none;
  }
}

.header__btn {
  position: relative;
  background-color: #9d8665;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  opacity: 1;
  transition: opacity 0.4s, border-color 0.3s;
  &:hover {
    opacity: 0.9;
    border: 1px solid hsla(175, 31%, 14%, 0.993);
    & .arrow__top {
      transition: opacity 0.4s, border-color 0.3s;
      background-color: #000;
    }
    & .arrow__top::after {
      transition: opacity 0.4s, border-color 0.3s;
      background-color: #000;
    }
    & .arrow__top::before {
      transition: opacity 0.4s, border-color 0.3s;
      background-color: #000;
    }
    & .top__btn-wrap {
      animation: expansion-attenuation-black ease-in-out 2.5s infinite;
    }
  }
}

#top__btn.show {
  right: 2%;
}

.arrow__top {
  position: relative;
  width: 2px;
  height: 15px;
  background-color: hsla(175, 31%, 14%, 0.993);
  z-index: 5;
  transition: opacity 0.4s, border-color 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    right: 2.5px;
    width: 2px;
    height: 8px;
    background-color: hsla(175, 31%, 14%, 0.993);
    transform: rotate(45deg);
    transition: opacity 0.4s, border-color 0.3s;
  }
  &::after {
    content: "";
    content: "";
    position: absolute;
    top: -3px;
    left: 2.5px;
    width: 2px;
    height: 8px;
    background-color: hsla(175, 31%, 14%, 0.993);
    transform: rotate(135deg);
    transition: opacity 0.4s, border-color 0.3s;
  }
}

@keyframes expansion-attenuation {
  // 0% {
  //   background: rgb(157, 134, 101, 0.8);
  //   padding: 0px;
  // }
  // 100% {
  //   background: #9d866500;
  //   padding: 40px;
  // }
  0% {
    box-shadow: rgb(157, 134, 101, 0.8) 0px 0px 0px 0px;
  }
  70% {
    box-shadow: rgba(115, 183, 195, 0) 0px 0px 0px 30px;
  }
  100% {
    box-shadow: rgba(115, 183, 195, 0) 0px 0px 0px 0px;
  }
}
@keyframes expansion-attenuation-black {
  0% {
    background: rgba(25, 47, 45, 0.534);
    padding: 0px;
  }
  100% {
    background: rgba(25, 47, 45, 0);
    padding: 40px;
  }
}
